/***/
/* Normalizing */
/***/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/***/
/* Unclassified Element Selectors */
/***/

a{
  text-decoration: none;
  color: #FF5C5C;
}

/***/
/* Layout  */
/***/

/* Map */

#up-l-map_box {
  height: 100vh;
  width: calc(70% - 70px);
  margin-left: 70px;
  position: fixed;
}

/* Side-Slider Menu */

/* Places Container */

#up-l-places_container {
  width: 30%;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  background: white;
}

.up-l-controls_container{
  background: #efefef;
  margin-bottom: 100px;
  padding: 10px;
  width: 100%;
  height: 30px;
  position: fixed;
  box-shadow: none;
  box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 20);
}


#up-l-controls_spacer{
  height: 50px;
  background: none;
  box-shadow: none;

}

/***/
/* Components */
/***/

/* Map */

/* Side-Slider Menu */

.up-c-slider{
  height: 100%;
  width: 70px;
  background: #40474F;
  float: left;
  position: fixed;
  box-shadow: -5px 7px 15px 0px rgba(0, 0, 0, 20);
}

.up-c-slider_body{
  padding: 20px;
}

#up-c-slider_body_container{
  height: 100%;
  max-width: 400px;
  margin-left: 70px;
  padding: 0px;
  overflow: hidden;
  position: fixed;
  background: #40474F;
  transition: margin-left 500ms ease;
  box-shadow: -5px 7px 15px 0px rgba(0, 0, 0, 20);
}

.up-c-logo_container{
  width: auto;
  height: auto;
  background: #25323E;
  margin-bottom: 75px;
}

.up-c-sidebar_icon_container{
  margin: 0px;
  padding: 0px;
  height: 70px;
}

.up-c-social_icon{
  height: 20px;
  width: 20px;
  padding-left: 3px;
  padding-right: 3px;
}

.up-c-sidebar_body_text{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  font-weight: 300;
}

.up-c-sidebar_body_h1{
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}

.up-c-sidebar_logo{
  padding: 10px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.up-c-sidebar_icon{
  width: 40%;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 30%;
  margin-right: 30%;
  padding: 0px;
}

.up-c-sidebar_body_social{
  fill: #FF5C5C;
}

/* Places Container */

.up-c-dropdown_container{
  display: inline;
  padding-right: 5px;

}

.up-c-dropdown_elem{
  background-color: #FFF;
  font-family: 'Open Sans', sans-serif;
  border: none;
  height: 1.75em;
}

.up-c-search_container{
  display: inline;
  padding-right: 5px;
}

.up-c-search_elem{
  background-color: #FFF;
  font-family: 'Open Sans', sans-serif;
  border: none;
  height: 1.75em;
}

.up-c-button{
  opacity: 1;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  background-color: #FF5C5C;
  color: white;
  font-family: 'Open Sans', sans-serif;

}

.up-c-placesbox{
  background: #efefef;
  margin: 10px;
  width: 95%;
  padding: 0;
}

.up-c-placesbox_body{
  background: #efefef;
  max-height: 800px;
  padding-left: 10px;
  padding-right: 10px;
  /* overflow: hidden; */
  transition: max-height 500ms ease;

}

 .up-c-placesbox_text{
   font-family: 'Open Sans', sans-serif;
   font-size: .9em;
   margin-top: 0px;
 }

 .up-c-placesbox_text_latlon{
   font-style: italic;
   font-size: .75em;
 }

 .up-c-placesbox_text_ref{
   font-size: .7em;
   font-style: italic;
   margin: 3px;
 }

 .up-c-placesbox_checkbox_label{
   width: 100%;
   height: 100%;
 }

 .up-c-placesbox_h1{
   font-family: 'Roboto Condensed', sans-serif;
   margin: 0;
   padding: 10px;
   width: 95%;
   display: inline-block;
   font-size: 1.5em;

 }

 .up-c-placesbox_divider_line {
   margin-bottom: 10px;
   border-bottom: 1px solid #40474F;
   opacity: .75;
 }

 .up-c-placesbox_toggle{
   display: none;
 }


/***/
/* Utility */
/***/

/* Map */

/* Side-Slider Menu */

#up-c-slider_body_container.up-u-slider_body_closed{
  margin-left: -400px;

}

.up-c-sidebar_icon_container :hover .up-u-info_icon{
  fill: #FF5C5C;
}

.up-c-sidebar_icon_container :focus .up-u-info_icon{
  fill: #FF5C5C;
}

/* input[type="checkbox"]:checked ~ #up-c-slider_body_container {
    max-height: 500px;
} */
/* Places Container */

.up-c-placesbox_h1:hover{
  color: #FF5C5C;
}

.up-c-placesbox_h1:focus{
  color: #FF5C5C;
}

.up-c-placesbox_body.up-c-placesbox_body_shown{
  max-height: 800px;
}

/* input[type="checkbox"]:checked ~ .up-c-placesbox_body {
    max-height: 800px;
} */
